body {
    font-size: medium;
    color: #000;
    background-color: #FFFFFF;
    font-family: 'Oxygen', sans-serif;
}


/** HEADER **/

#header-nav {
    background-color: #006699;
    /*#87faed;*/
    /* #36B9CC; */
    border-radius: 0;
    border: 0;
}

#logo-img-lg {
    background: url('../images/logo_large.png') no-repeat;
    width: 150px;
    height: 150px;
    margin: 20px 15px 10px 10px;
}

#logo-img-sm {
    background: url('../images/logo_ small.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 20px 10px 10px 10px;
}

#logo-img-xs {
    background: url('../images/logo_xs.png') no-repeat;
    width: 75px;
    height: 75px;
    margin: 20px 5px 10px 10px;
}

.navbar-brand,
.navbar-brand-center {
    padding-top: 10px;
    margin-top: 10px;
}

.navbar-brand h1 {
    /* Company name */
    font-family: 'Lora', serif;
    color: #FFFF99;
    /*#87cefa;*/
    /*#557c3e;*/
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 1.0;
    text-align: center;
}

#brand_name_large {
    margin-top: 40px;
}

#brand_name_medium {
    margin-top: 30px;
    font-size: 2.0em;
    /*margin-left: -10px;*/
}


/* #brand_name_small {
    margin-left: auto;
    margin-right: auto;
    width: 303.09px;
} */

.navbar-brand-center h1 {
    /* Company name */
    font-family: 'Lora', serif;
    color: #FFFF99;
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 1.0;
    text-align: center;
}

.navbar-brand-center p {
    font-family: 'Lora', serif;
    color: #FFFF99;
    font-size: 1.75em;
    font-style: italic;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 1.0;
    text-align: center;
}

.navbar-brand a:hover,
.navbar-brand a:focus,
.navbar-brand-center a:hover,
.navbar-brand-center a:focus {
    text-decoration: none;
}

.nav-tabs {
    margin-top: 25px;
}

.dropdown li a {
    background-color: skyblue;
}

.nav-tabs li>a {
    color: #000000;
    font-size: 1.25em;
    /* padding: 10px; */
}

.nav-tabs>li>a {
    color: #ffffff;
    font-size: 1.25em;
    border-radius: 10px;
}

.nav-tabs li>a:hover,
.nav-tabs li>a:active {
    color: #000000;
    font-size: 1.25em;
    font-weight: bold;
}

.dropdown:hover .dropdown-menu {
    display: block;
}


/* END HEADER */

#search-box {
    width: 250px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: medium;
    padding: 10px;
    /* padding: 12px 20px 12px 40px; */
    /* border: 1px darkblue; */
    border-radius: 10px;
}

#myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}


/* SIDE-NAV */


/* The side navigation menu */

#side-nav-btn {
    background-color: skyblue;
    font-size: large;
    color: black;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid black;
    /* position: fixed; */
}

#side-nav-btn:hover,
#side-nav-btn :active {
    background-color: white;
    font-weight: bolder;
}

.sidenav {
    height: 100%;
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #006699;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    transition: 1s;
    /* 0.5 second transition effect to slide in the sidenav */
    background-origin: 2px darkblue;
}

.sidenav a {
    /* padding: 8px 8px 8px 32px; */
    text-decoration: none;
    font-size: medium;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover,
.sidenav a:active {
    font-size: larger;
}

.sidenav div {
    margin: 20px 25px 20px 25px;
    font-size: medium;
    color: white;
}


/* Position and style the close button (top right corner) */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav h2 {
    font-size: large;
    font-weight: bold;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
}

@media (max-width: 991px) {
    .sidenav {
        height: 150;
        background-color: skyblue;
    }
    .sidenav div {
        margin: 10px 10px 10px 10px;
        font-size: small;
        color: black;
    }
    .sidenav a {
        color: black;
    }
    #search-box {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        font-size: small;
        padding: 5px;
        /* padding: 12px 20px 12px 40px; */
        /* border: 1px darkblue; */
        border-radius: 10px;
    }
}


/* END OF SIDE-NAV */


/* FOOTER */

.panel-footer {
    margin-top: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: #222;
    border-top: 0;
    color: #fff;
}

.panel-footer div.row {
    margin-bottom: 15px;
}

.phone a,
.email a {
    color: #87cefa;
    text-decoration: none;
}

.panel-footer a: hower,
.panel-footer a: active {
    text-decoration: none;
    color: #ffffff;
}

.panel-footer h2,
.panel-footer h3 {
    font-size: 1.25em;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.panel-footer h2 {
    font-size: 1.5em;
}


/* END FOOTER */


/* HOME PAGE */

.intro {
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 10px;
    color: #000000;
    /*background-color: #00ff00; */
}

.page_h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: xx-large;
    color: #006699;
    text-align: center;
}

.container .jumbotron {
    margin-top: 100px;
    margin-bottom: 100px;
}

#ventilator-tile,
#monitor-tile,
#defibrilator-tile,
#hhhfnc-tile,
#ecg-tile,
#sp-tile,
#accessories-tile,
#anesthesia-tile,
#irw-tile {
    /*box-shadow: 0 0 50px #3F0C1F;*/
    height: 250px;
    width: 100%;
    margin-bottom: 50px;
    position: relative;
    /*border: 2px solid #3F0C1F;*/
    overflow: hidden;
}

#monitor-tile:hover,
#ventilator-tile:hover,
#defibrilator-tile:hover,
#sp-tile:hover,
#hhhfnc-tile:hover,
#ecg-tile:hover,
#accessories-tile:hower,
#anesthesia-tile:hower,
#irw-tile:hover {
    box-shadow: 0 1px 5px 1px #cccccc;
}

#ventilator-tile {
    background: url('../images/ventilator/ventilator-tile.jpg') no-repeat;
    background-position: center;
}

#monitor-tile {
    background: url('../images/monitor/monitor-tile.jpg') no-repeat;
    background-position: center;
}

#ecg-tile {
    background: url('../images/ecg/ecg-tile.jpg') no-repeat;
    background-position: center;
}

#sp-tile {
    background: url('../images/sp/sp-tile.jpg') no-repeat;
    background-position: center;
}

#defibrilator-tile {
    background: url('../images/defibrilator/defibrilator-tile.jpg') no-repeat;
    background-position: center;
}

#anesthesia-tile {
    background: url('../images/anesthesia/anesthesia-tile.jpg') no-repeat;
    background-position: center;
}

#hhhfnc-tile {
    background: url('../images/hhhfnc/hhhfnc-tile.jpg') no-repeat;
    background-position: center;
}

#irw-tile {
    background: url('../images/irw/irw-tile.jpg') no-repeat;
    background-position: center;
}

#ventilator-tile span,
#monitor-tile span,
#defibrilator-tile span,
#sp-tile span,
#hhhfnc-tile span,
#ecg-tile span,
#accessories-tile span,
#anesthesia-tile span,
#irw-tile span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: .6;
}


/* END HOME PAGE */


/* ABOUT US PAGE */

.page_description {
    text-align: justify;
    /*background: url('../images/logo_back.jpg') no-repeat;
  background-position: center;*/
}


/* EMD OF ABOUT PAGE */


/* PRODUCT CATEGORIES AND DESCRIPTION PAGE */

.container .jumbotron_product {
    margin-top: 50px;
    margin-bottom: 100px;
}

.img-responsive.img-center {
    margin: 0 auto;
}

.v-center {
    display: flex;
    align-items: center;
}

.product-item-tile {
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px lightgray;
    box-sizing: border-box;
}

.product-item-tile hr {
    width: 80%;
}

.product-item-photo {
    /* position: relative; */
    overflow: hidden;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    /* margin-bottom: 20px; */
    max-width: 250px;
    max-height: 300px;
}

.product-item-description {
    padding-right: 30px;
}

.product-item-details {
    font-size: medium;
    font-style: italic;
}

.product-detailed-description {
    text-align: justify;
    padding-right: 35px;
}

.product-detailed-description h2 {
    font-size: medium;
    font-weight: bold;
    color: #006699;
}

.product-description-container {
    margin-top: 20px;
    margin-bottom: 20px;
}


/* END OF PRODUCT CATEGORIES AND DESCRIPTION PAGE */


/* MENU CATEGORIES PAGE */

.category-tile {
    position: relative;
    border: 2px solid #3F0C1F;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 0 auto 15px;
}

.category-tile span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: .8;
}

.category-tile:hover {
    box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-categories-title+div {
    margin-bottom: 50px;
}


/* END MENU CATEGORIES PAGE */


/* SINGLE CATEGORY PAGE */


/* END SINGLE CATEGORY PAGE */


/********** Large devices only **********/

@media (min-width: 1200px) {
    .container .jumbotron {
        background: url('../images/jumbotron1_1200.jpg') no-repeat;
        height: 675px;
    }
}


/********** Medium devices only **********/

@media (min-width: 992px) and (max-width: 1199px) {
    /* Header */
    #logo-img {
        background: url('../images/restaurant-logo_medium.png') no-repeat;
        width: 100px;
        height: 100px;
        margin: 5px 5px 5px 0;
    }
    #navbar-brand h1 {
        font-size: 2.0px;
    }
    /* End Header */
    /* Home Page */
    .container .jumbotron {
        background: url('../images/jumbotron1_992.jpg') no-repeat;
        height: 558px;
    }
    /* End Home Page */
}


/********** Small devices only **********/

@media (min-width: 768px) and (max-width: 991px) {
    body {
        font-size: small;
    }
    /* Home Page */
    .container .jumbotron {
        background: url('../images/jumbotron1_768.jpg') no-repeat;
        height: 432px;
    }
    /* End Home Page */
}


/********** Extra small devices only **********/

@media (max-width: 767px) {
    /* Header */
    .navbar-brand {
        padding-top: 10px;
        height: 80px;
    }
    .navbar-brand h1 {
        /*Company name */
        padding-top: 10px;
        font-size: 1.0em;
        /* 1vw = 1% of viewport width */
    }
    .nav-tabs li>a {
        color: #000000;
        /*black;*/
        font-size: 1.0em;
        /*font-weight: bold;*/
    }
    .nav-tabs>li>a {
        color: #ffffff;
        /*black;*/
        font-size: 1.0em;
        /*font-weight: bold;*/
    }
    /* End Header */
    /* Footer */
    .panel-footer section {
        margin-bottom: 30px;
        text-align: center;
    }
    .panel-footer section:nth-child(3) {
        margin-bottom: 0;
        /* margin already exists on the whole row */
    }
    .panel-footer section hr {
        width: 50%;
    }
    /* End Footer */
    /* Home Page */
    .container .jumbotron {
        margin-top: 60px;
        padding: 0;
    }
    #menu-tile,
    #specials-tile {
        width: 360px;
        margin: 0 auto 15px;
    }
    .menu-item-photo {
        margin-right: auto;
    }
    .menu-item-tile .menu-item-price {
        text-align: center;
    }
    .menu-item-description {
        text-align: center;
    }
    /* Monitor Page*/
    .container .jumbotron_monitor {
        margin-top: 60px;
        padding: 0;
    }
    /*Monitor Page Ends*/
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/

@media (max-width: 479px) {
    /* Header */
    .navbar-brand h1 {
        /* Company name */
        padding-top: 5px;
        font-size: 6vw;
    }
    /* End Header */
    /* Home page */
    #menu-tile,
    #specials-tile {
        width: 280px;
        margin: 0 auto 15px;
    }
    /* .col-xxs-12 {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        float: left;
        width: 100%;
    } */
}

@media (max-width: 350px) {
    .navbar-brand-center h1 {
        font-size: 1.75em;
    }
    .navbar-brand-center p {
        font-size: 1.5em;
    }
    .nav-tabs {
        font-size: small;
    }
}

@media (max-width: 350px) {
    .nav-tabs {
        font-size: x-small;
    }
}